.s{
	color:white;
}
.k{color:white; }
.img{text-align: center;
	border-radius: 10px;
	width:250px;
	height:200px;
	background-image: url("http://www.forest.go.kr/newkfsweb/cmm/fms/FileDown.do?atchFileId=FILE_000000010008639&fileSn=0");
}
